
.polol{
  width: 100%;
  height: 25vh;
  overflow: hidden;  
  border-radius: 25px;
  background-color: red;
  

}
.pblogimage {
 width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: center; 
}

