<nav class="w-full flex bg-black text-[#fff] px-10 py-3 items-center justify-around">
    <div class=" text-4xl font-medium">BLOG's</div>
    <% if(user){ %>
    <div class=" flex gap-5">
        <a href="/createblogs">CREAT-Blog</a>|
        <a href="/">HOME</a>|
        <a href="#">ABOUT</a>|
        <a href="#">CONTECTS</a>
    </div>
  

    
        <a class=" px-4 py-2 bg-zinc-300 text-black font-[700] rounded-full "  href="/profile">PROFILE</a>
       
    <% }else{ %>
        <div class=" flex gap-5">
            <a href="/">HOME</a>|
            <a href="#">ABOUT</a>|
            <a href="#">CONTECTS</a>
        </div>
      
        <div class=" flex gap-5 items-center">
            <a class=" px-4 py-2 bg-zinc-300 text-black font-[700] rounded-full " href="/login">Log In</a>
            <a class=" px-4 py-2 border-[1px] text-white font-[700] rounded-full" href="/register">Sign Up</a>
        </div>
    <% } %>
</nav>